<div class="card card-primary">
  <div class="card-header bg-primary ">
    <ul class="nav nav-pills card-header-pills">

      
        <div><button class="nav-link btn-primary" (click)="callJobDetails()" [disabled]="!buttonStatus">Jobs Available</button></div>
        
        <!--  <p *ngif="!buttonStatus">Please refresh the page to start search </p>  -->
        <!--<a class="nav-link active" href="#" (click)="callJobDetails()" ng-disabled="buttonStatus" >Jobs Available</a>-->
     <div><p *ngIf="!buttonStatus">Please refresh the page to <strong> *restart</strong>  search</p></div>
      
    </ul>
  </div>
  <div class="card-body" *ngIf="!buttonStatus">
    <div class="row">
      <div class="col-4 div-img ">
        <img src="./assets/person.jpeg" alt="..." class="img-thumbnail img">
      </div>
      <div class="col-8">
        <p class="card-title"><strong>{{jobDetails.title}}</strong></p>
        <p class="card-text">{{jobDetails.company.name}}</p>
        <p class="card-text">${{jobDetails.wagePerHourInCents/100}} hour</p>
        <p>{{startDate}} - {{endDate}}</p>
      </div>
    </div>
    <br>
    <div class="row ">
     
      <div class="col-12"> <p><strong>If you take this job you are going to work ALL DAYS</strong></p></div>
     
      </div>
            <div class="row padding-list" *ngFor="let dates of shiftsArray;let i=index">
<p class="card-text">{{dates.day}}, {{dates.startDate}}  {{dates.hour}}:{{dates.minutes}} {{dates.timeZone}}</p>
              <!--
      <ul class="list-group" *ngFor="let dates of shiftsArray;let i=index">
        <li class="list-group-item">{{dates.day}}, {{dates.startDate}} {{dates.hour}}:{{dates.minutes}} {{dates.timeZone}} </li>
       </ul>
      -->
    </div>
    <hr>
    <div class="row">
      <h4 class="col-12">Location:</h4>
      <p class="col-12 ">
        <a  class="header-blue">
          <strong><u>{{address}}</u></strong>
          
        </a>
      </p>
    </div>
    <hr>
    <div class="row">
      <h4 class="col-12">Branch:</h4>
      <p class="col-12">{{jobDetails.branch}}
        <a href="#"> {{jobDetails.branchPhoneNumber}}</a>
      </p>
    </div>
    <hr>
    <div class="row text-center">
      <div class="col-5">
        <strong> <a class="header-blue">No Thanks</a></strong>
       
      </div>
      
      <div class="col-5 col*-offset-1">
          <strong> <a class="header-blue">I will take it</a></strong>
      </div>
    </div>
  </div>
</div>